<div class="row wrapper border-bottom white-bg page-heading ">
    <div class='col-lg-6 col-md-6 col-sm-6'>
        <div class='h2'>Bulk</div>
    </div>
</div>
<div class='container'>
    {{!-- CSV Data Bulk Upload  --}}
    <div class="row wrapper border-bottom white-bg page-heading set-add-btn">
        <div class='col-lg-12 col-md-12 col-sm-12'>
            <div class='h2'>Bulk Upload</div>
            <hr>
            <form id="csvUploadForm" enctype="multipart/form-data">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class='form-group'>
                        {{!-- Select Quarter --}}
                        <label for='quater'>Quarter</label><span class='required'>*</span>
                        <select class='form-control' name='quarterId' id='quarterId' data-validation='required'
                            data-validation-error-msg="Please Select Quater">
                            <option value=''>Select Quarter</option>
                            {{#each quarter}}
                            <option value='{{id}}'>{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    {{!-- Upload Bulk --}}
                    <div class="form-group">
                        <label>Bulk Upload</label><span class=' required'>*</span>
                        <input type="file" id="file" name="file" class='form-control'>

                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class='form-group topspace'>
                        <button class='btn btn-primary' id='save'>Save</button>
                        <button id='reset' type='reset' class='btn btn-danger'>Clear</button>
                    </div>
                </div>
            </form>

            <img id="loading-image" style="display:none;" />
        </div>
    </div>
    {{!-- List All Email --}}
    <div id="divTable" class="row wrapper border-bottom white-bg page-heading set-add-btn set-bottom">
        <div class='col-lg-12 col-md-12 col-sm-12 '>
            <div class='h2'>List Of Records</div>
            <select name='Quarter' id='getquarter' class="form-control">
                <option value=''>Select Quarter</option>
                {{#each quarter}}
                <option value=''>{{name}}</option>
                {{/each}}
            </select>
            <br>
            <table id='csvTable' class='table display'>
                <thead>
                    <tr>
                        {{!-- <th class='quarter'>Quarter</th> --}}
                        <th>Email</th>
                        <th></th>
                        <th>Action</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<script src="/javascripts/csv/index.js"></script>